language: r
os: linux
dist: bionic
warnings_are_errors: false
cache: packages

r:
  - oldrel
  - release
  - devel

r_packages:
  - testthat
  - roxygen2

r_github_packages:
  - thomasp85/patchwork

apt_packages:
  - libudunits2-dev
  - libgdal-dev
  - libgeos-dev
  - libproj-dev
  - libv8-dev
  - libgit2-dev
  - libjq-dev
  - libprotobuf-dev
  - protobuf-compiler

repos:
  CRAN: https://cran.rstudio.com
  rforge: http://R-Forge.R-project.org

before_install:
  - sudo add-apt-repository -y ppa:ubuntugis/ubuntugis-unstable
  - sudo apt-get update
